/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

html, body{
    font-size: 100%;
	font-family: 'Shadows Into Light Two', cursive;


}
body{
	background:#FFFFFF;
    text-align:center;
    margin-top: 50px;
}

	a{
        text-decoration: none;
        color: grey;

    }

    .break{
        margin-top: 50px;
    }